<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Verify Your LiveScript Account</title>
    </head>
    <body>
        <h1>Welcome to LiveScript, {{ username }}!</h1>
        <p>Thank you for signing up. Please verify your email address by clicking the link below:</p>
        <p><a href="{{ verification_link }}">Verify Email</a></p>
        <p>This link will expire in 15 minutes.</p>
        <p>If you did not sign up for LiveScript, please ignore this email.</p>
    </body>
</html>
